/*font-family: 'Noto Serif', serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'MuseoModerno', cursive;*/


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  font-size: 16px;
}

.container {
  max-width: 1000px;
  flex: 1;
  height: inherit;
  margin: 0 auto;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-wrap: inherit;
  padding: 0 .625rem;
}

.portrait-header {
  height: 80px;
  background-color: #021e29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  z-index: 100;
}

.portrait-header__logo {
  font-family: 'MuseoModerno', cursive;
  color: white;
}

.portrait-header__logo p {
  margin: 0;
}

.logo__logotype {
  font-size: 1.5rem;
}

.logo__slogan {
  text-align: center;
  color: #f5bd41;
  font-size: 1rem;
}

.portrait-header__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
}

.menu__item {
  margin: 0 .625rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.menu__item:hover {
  filter: opacity(0.7);
  cursor: pointer;
}

.menu__item--button {
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.menu__item--button:hover {
  filter: opacity(0.7);
}

.portrait-hero {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #021e29;
}

.portrait-hero__description {
  color: white;
  font-size: 3rem;
}

.portrait-hero__description strong {
  color: #f5bd41;
  font-weight: bold;
}

.portrait-hero__image {
  height: 250px;
}

.portrait-projects {
}

.portrait-projects__title {
  color: #175aa0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2.5rem 0 1.25rem;
  margin: 0;
  font-size: 1.5rem;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1.875rem .625rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07),
  0 2px 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .07),
  0 8px 16px rgba(0, 0, 0, .07), 0 16px 32px rgba(0, 0, 0, .07),
  0 32px 64px rgba(0, 0, 0, .07);
  margin: 1.25rem 0;
}

.project__content {
  padding: 0 1.25rem;
  width: 410px;
}

.project__title {
  color: #1b262b;
  font-size: 2rem;
  margin: 10px 0;
}

.project__subtitle {
  color: #4d4d4d;
  font-size: .875rem;
  margin: 10px 0;
}

.project__date, .project__source {
  margin: 8px 0;
  font-size: 1rem;
}

.project__date small, .project__source small {
  color: #4d4d4d;
}

.project__source small a {
  color: #4d4d4d;
}

.project__description {
  margin: 20px 0;
  font-size: 1rem;
}

.project__image {
  height: 250px;
}

.portrait-experience {
  margin-bottom: 20px;
}

.portrait-experience__title {
  color: #175aa0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1.25rem 0;
  margin: 0 0 .625rem;
  font-size: 1.5rem;
}

.event-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.event {
  width: 48%;
  height: auto;
  padding: 0;
  margin: .625rem;
  border-radius: .625rem;
  background-color: #eef5ff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .07),
  0 2px 4px rgba(0, 0, 0, .07), 0 4px 8px rgba(0, 0, 0, .07),
  0 8px 16px rgba(0, 0, 0, .07), 0 16px 32px rgba(0, 0, 0, .07),
  0 32px 64px rgba(0, 0, 0, .07);
}

.event__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: brightness(0.4);
}

.event__content {
  height: auto;
  margin: -60px auto 0;
  padding: 1.25rem .625rem 0;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.event__title {
  width: 100%;
  color: #1b262b;
  font-size: 1.5rem;
  margin: 0;
}

.event__description {
  width: 100%;
  color: #4d4d4d;
  font-size: 1rem;
}

.event__link {
  border: 1.5px solid #175aa0;
  border-radius: 5px;
  padding: 7px 25px;
  margin: .625rem 0 1.25rem;
  color: #175aa0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.event__link:hover {
  filter: opacity(.8);
}

.portrait-contact {
  background-color: #175aa0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
}

.contact__form {
  padding: 1.875rem 0;
}

.form__title {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
}

.form__input {
  display: block;
  margin: 20px 0 10px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #4d4d4d;
  padding: 5px 20px 5px 40px;
  color: #4d4d4d;
  background-image: url("./assets/icons/mail.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  background-position-x: 10px;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: #4d4d4d;
}

.form__button {
  display: block;
  height: 1.875rem;
  border: 1.5px solid white;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  padding: 5px 1.875rem;
  cursor: pointer;
}

.form__button:hover {
  filter: opacity(.8);
}

.form__button:focus {
  outline: none;
}

.contact__social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 1rem 0;
}

.social-media__item {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

.portrait-footer {
  height: 70px;
  background-color: #021e29;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portrait-footer p {
  color: white;
  margin: 0;
}

.portrait-footer p img {
  height: 1.875rem;
  vertical-align: middle;
}

.footer__link {
  color: white;
}

.footer__link:hover {
  color: #f5bd41;
}

.burger-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  display: none;
  line-height: 2.5rem;
  text-align: center;
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 300;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .burger-button {
    display: block;
  }

  .portrait-header__menu {
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    background-color: rgba(245, 189, 65, 0.9);
    z-index: 200;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .3s;
  }

  .portrait-header__menu.is-active{
    left: 0;
  }

  .menu__item, .menu__item--button {
    font-size: 2rem;
  }

  .menu__item {
    text-decoration: underline;
  }

  .portrait-header__logo {
    margin: 0 auto;
  }

  .portrait-hero__description {
    position: absolute;
    z-index: 50;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }

  .portrait-hero__image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    object-fit: cover;
    filter: opacity(.5);
  }

  .project__content {
    width: auto;
  }

  .project__image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .event {
    margin: .625rem 0;
    width: 100%;
  }

  .portrait-hero {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .portrait-header {
    display: block;
    height: auto;
  }

  .portrait-header__logo {
    text-align: center;
    padding: 10px 0;
  }

  .portrait-header__menu {
    flex-direction: column;
    padding: 0;
  }

  .portrait-header__menu li {
    text-align: center;
    margin: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  .menu__item, .menu__item--button {
    font-size: 1.75rem;
  }

  .portrait-hero__description {
    font-size: 2.5rem;
  }

  .portrait-projects__title {
    font-size: 1.25rem;
    padding: 1.25rem 0 .625rem;
  }

  .project__title {
    font-size: 1.5rem;
  }

  .project__subtitle {
    font-size: .75rem;
  }

  .project__date, .project__source, .project__description {
    font-size: .875rem;
  }

  .project {
    padding: 1.25rem .625rem;
    margin: .625rem 0;
  }

  .project__content {
    padding: 0 1rem;
  }

  .portrait-experience__title {
    margin: 0;
    padding: .625rem 0;
    font-size: 1.25rem;
  }

  .portrait-contact {
    display: block;
    text-align: center;
    height: auto;
  }

  .contact__form {
    padding: 1.875rem 0 .625rem;
  }

  .form__title {
    font-size: 1.25rem;
  }

  .form__input {
    margin: 1.25rem auto .625rem;
  }

  .form__button {
    margin: 0 auto;
  }

  .social-media__item {
    font-size: 2.5rem;
  }

  .portrait-footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .menu__item, .menu__item--button {
    font-size: 1.5rem;
  }

  .portrait-hero__description {
    font-size: 1.75rem;
  }

  .logo__logotype {
    font-size: 1rem;
  }

  .logo__slogan {
    font-size: .75rem;
  }
}
